<% layout("layouts/boilerplate") -%>
    <h1>Add new venue</h1>
    <form action="/venue" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" placeholder="Name" id="name" name="venue[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" placeholder="Name" id="location" name="venue[location]">
        </div>
        <button>Submit</button>
    </form>
    <a href="/venue">Cancel</a>